@import "tailwindcss";

@theme {
  /* Fondos */
  --color-domus-bg: #F5EFE6;
  --color-domus-secondary: #EDE6DD;
  --color-domus-card: #FAF9F7;

  /* Primarios (Verdes) */
  --color-domus-primary: #3F5B4B;
  --color-domus-primary-mid: #6B8F71;
  --color-domus-primary-soft: #A3B18A;

  /* Acentos */
  --color-domus-terracota: #A85C45;
  --color-domus-brown: #B08968;

  /* Texto */
  --color-domus-text: #2F2F2F;
  --color-domus-text-soft: #6B6B6B;

  /* Fuentes*/
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:focus-visible {
  outline: 2px solid var(--color-domus-primary);
  outline-offset: 3px;
  border-radius: 8px;
}